.post-summary {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #DAC2C2;

  .summary, .no-summary {
    margin: 1rem 0;
  }

  .no-summary {
    font-style: italic;
  }

  .summary p:after {
    content: "...";
  }
}
