<div>
  <h2>
    {{#link-to "posts"}}{{post.title}}{{/link-to}}
  </h2>
  <section>
    <div class="summary">
      {{{post.summary}}}
    </div>
    <div class="created">
      {{post.created}}
    </div>
    <div class="tags">
      {{#post-tags tags=post.tags}}{{/post-tags}}
    </div>
  </section>
</div>