<div class="component">
  <h2>
    {{post.title}}
  </h2>
  <section>
    <div class="summary">
      {{{post.summary}}}
    </div>
    <div class="created">
      {{post.created}}
    </div>
    <div class="tags">
      {{post.tags}}
    </div>
  </section>
</div>