<h1>
  {{post.title}}
</h1>
<section>
  <div class="summary">
    {{{post.summary}}}
  </div>
  <div class="created">
    {{post.created}}
  </div>
  <div class="tags">
    {{post.tags}}
  </div>
</section>