@import "colours";

* {
	font-family: ms500;
	color: $colour-primary;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

@font-face {
    font-family: 'ms500';
    src: url('../vendor/Museo_Slab_500_2-webfont.woff')  format('woff'),
    	 url('../vendor/Museo_Slab_500_2-webfont.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import "pods";
