$colour-primary: rgba(16, 84, 16, 1);
$colour-secondary: rgba(134, 33, 33, 1);
$colour-tertiary: rgba(214, 228, 214, 0.5);
$colour-grey: rgba(218, 194, 194, 1);
$colour-grey-text: rgba(132, 132, 132, 1);
$colour-grey-text-light: rgba(224, 224, 224, 1);

$colour-shadow: rgba(119, 119, 119, 1);

$color-cta: rgba(245, 140, 5, 1);
