.posts-list {
  display: flex;
  flex-flow: row;
  position: relative;
  overflow: hidden;
  min-height: 43rem;

  .posts {
    display: none;

    @media(min-width: 1000px) {
      width: calc(100% - 22rem);
    }
  }

  &.show-posts {
    .posts {
      display: block;
    }
  }

  &.show-panel {
    .filter-panel-container {
      transform: translateX(0);

      @media(min-width: 550px) {
        transform: translateX(40vw);
      }
    }
  }

  &.showing-panel {
    .posts {
      display: none;

      @media(min-width: 550px) {
        display: block;
      }
    }
  }

  .head {
    display: flex;
    flex-flow: column;
    width: 100vw;
    align-items: center;
    align-self: flex-start;

    @media (min-width: 500px) {
      height: 3rem;
      padding: 0 0.5rem;
      flex-flow: row;
    }
  }

  .filter-text {
    flex: 1;
    order: 2;
    color: $colour-secondary;
    font-size: 1rem;
    margin-top: 0.5rem;

    @media(min-width: 500px) {
      margin-top: 0;
      display: block;
      order: 1;
    }

    @media(min-width: 550px) {
      font-size: 1.25rem;
    }
  }

  .filter-panel-container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    transform: translateX(101vw);
    transition: transform 0.25s ease-out;

    @media(min-width: 550px) {
      width: 60vw;
    }

    @media(min-width: 1000px) {
      border-left: 1px solid $colour-primary;
      left: calc(100% - 22rem);
      transform: translateX(0);
      width: 22rem;
      height: 100%;
    }
  }

  .filter-button-container {
    height: 2.5rem;
    width: 100vw;
    background: $colour-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
    flex: 1;
    order: 1;

    @media(min-width: 500px) {
      order: 2;
    }

    @media(min-width: 1000px) {
      display: none;
    }

    div {
      width: 100%;
      height: 100%;
    }
  }

  .thumbnails {
    display: flex;
    flex-flow: row;
    width: 100%;
  }

  .thumb-title {
    color: $colour-secondary;
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    display: none;

    @media(min-width: 550px) {
      display: block;
    }
  }

  .posts-title {
    padding-left: 0.5rem;
  }

  .blog-posts {
    margin-top: 1rem;

    @media(min-width: 500px) {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
    }

    @media(min-width: 550px) {
      margin-top: 0rem;
      width: calc(100% - 15rem);
    }
  }

  .quick-tips {
    display: none;
    width: 15rem;

    @media(min-width: 550px) {
      display: block;
    }

    @media(min-width: 1000px) {
      margin: 0 1rem;
    }
  }
}
