.posts-list {
  display: flex;
  flex-flow: row;
  position: relative;
  overflow: hidden;
  min-height: 32rem;

  .filter-panel-container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    transform: translateX(100vw);
    transition: transform 0.25s ease-out;

    @media(min-width: 1000px) {
      border-left: 1px solid $colour-primary;
      position: inherit;
      transform: translateX(0);
    }
  }

  .filter-button-container {
    height: 2.5rem;
    width: 100vw;
    background: $colour-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;

    @media(min-width: 1000px) {
      display: none;
    }

    .arrow {
      color: white;
      transform: rotate(180deg);
      margin-right: 0.5rem;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.posts-list-container.show-panel {
  .filter-panel-container {
    transform: translateX(0);
  }
}

.posts-list-container {
  .posts {
    display: none;
  }
}

.posts-list-container.show-posts {
  .posts {
    display: block;

    @media(min-width: 550px) {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
