<div class="posts">
  {{#if hasPosts}}
      <div class="filter-button-container">
        {{#filter-button}}{{/filter-button}}
      </div>
    {{#each filteredPosts as |post|}}
      {{#post-summary post=post}}{{/post-summary}}
    {{/each}}
  {{else}}
    {{#no-results}}{{/no-results}}
  {{/if}}
</div>
<aside class="filter-panel-container">
  {{#filter-panel}}{{/filter-panel}}
</aside>