<div class="posts">
  {{#if hasPosts}}
      <div class="head">
          <div class="filter-text">
              Showing 10/10 postings
          </div>
          <div class="filter-button-container">
            {{#filter-button}}{{/filter-button}}
          </div>
      </div>
    {{#each filteredPosts as |post|}}
      {{#post-summary post=post}}{{/post-summary}}
    {{/each}}
  {{else}}
    {{#no-results}}{{/no-results}}
  {{/if}}
</div>
<aside class="filter-panel-container">
  {{#filter-panel}}{{/filter-panel}}
</aside>