<div class="posts">
  {{#if hasPosts}}
      <div class="head">
          <div class="filter-text">
              showing {{filteredCount}}/{{totalCount}} postings
          </div>
          <div class="filter-button-container">
            {{#filter-button}}{{/filter-button}}
          </div>
      </div>
      <div class="thumbnails">
          <div class="quick-tips">
              <div class="thumb-title">quick tips</div>
            {{#each filteredQuickTips as |qt|}}
              {{#quick-tip post=qt}}{{/quick-tip}}
            {{/each}}
            {{#if noQuickTipsFound}}
                <div class="no-quick-tips">
                    looks like it's just posts :-)
                </div>
            {{/if}}
          </div>
          <div class="blog-posts">
              <div class="thumb-title posts-title">the posts</div>
            {{#each filteredPosts as |post|}}
              {{#post-summary post=post}}{{/post-summary}}
            {{/each}}
            {{#if noPostsFound}}
                <div class="no-posts">
                    looks like it's just quick tips :-)
                </div>
            {{/if}}
          </div>
      </div>
  {{else}}
    {{#no-results}}{{/no-results}}
  {{/if}}
</div>
<aside class="filter-panel-container">
  {{#filter-panel}}{{/filter-panel}}
</aside>