<div class="posts-list">
    <div class="posts">
      {{#each filteredPosts as |post|}}
        {{#post-summary post=post}}{{/post-summary}}
      {{/each}}
    </div>
    <aside class="filter-panel-container">
        {{#filter-panel}}{{/filter-panel}}
    </aside>
</div>