<h2>
  {{post.title}}
</h2>
<div class="created">
  {{format-date post.created}}
</div>
{{#if post.content.length}}
    <div class="summary">
      {{{post.content}}}
    </div>
{{else}}
    <div class="no-summary">
        So...only wrote a title...oops...
    </div>
{{/if}}
<div class="tags">
  {{#post-tags tags=post.tags}}{{/post-tags}}
</div>