.blog-head {
	padding: 0.5rem;
	background-color: #105410;

	a {
		text-decoration: none;
	}

	h2, code, div, span {
		color: white;
	}

	code {
		font-size: 1.25rem;
		@media(min-width: 375px) {
			font-size: 1.5rem;
		}
		@media(min-width: 768px) {
			font-size: 2rem;
		}
	}

	h1 {
		margin: 1rem 0;
	}

	h2 {
		font-size: 0.75rem;
		@media(min-width: 375px) {
			font-size: 1rem;
		}
		@media(min-width: 768px) {
			font-size: 1.25rem;
		}
	}

	.func-content {
		margin-left: 2rem;
	}

	.func {
		color: #F971F9;
	}

	.args {
		color: orange;
	}

	.keyword {
		color: #FFC6C6;
	}

	.operator {
		color: yellow;
	}

	.var {
		color: orange;
	}
}