{{#link-to "posts"}}
<div class="blog-head">
	<h1>
		<code>
			<div>
				<span class="func">function</span>(<span class="args">err, craigBilner</span>) {
			</div>
			<div class="func-content">
				<span class="keyword">return</span> <span class="operator">...</span><span class="var">err</span>;
			</div>
			<div>}</div>
		</code>
	</h1>
	<h2 class="title">A place where I write things</h2>
</div>
{{/link-to}}