.post-article {
  padding: 1rem;
  max-width: 33rem;

  .top {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $colour-grey;
  }

  .post-content {
    padding-bottom: 2rem;
    border-bottom: 1px solid $colour-grey;
  }

  time {
    color: $colour-grey-text;
  }

  h1 {
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  div {
    line-height: 1.5rem;
  }

  a {
    color: $colour-anchor;
    font-weight: bold;
  }

  .quote {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex-flow: column;
    border-right: 5px solid $colour-grey;
    padding-right: 10px;
  }

  q {
    color: $colour-grey-text;
    margin: 1rem 0;
  }

  .author {
    color: $colour-grey-text;
    font-style: italic;
  }

  ul {
    margin-left: 1rem;
  }

  li {
    margin-bottom: 1rem;
  }

  code {
    color: $colour-secondary;
    background-color: $colour-grey-text-light;
    padding: 0.25rem;
  }

  .nav-links {
    display: flex;
    flex-flow: column;
    height: 8rem;
    justify-content: space-between;
  }

  .nav-text {
    color: $colour-secondary;
  }

  .post-link {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;

    a {
      color: $colour-primary;
    }
  }
}
