.post-article {
  padding: 1rem;

  .top {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $colour-grey;
  }

  time {
    color: $colour-grey-text;
  }

  h1 {
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  div {
    line-height: 1.5rem;
  }
}
