<div class="no-results-text">
    <div>
        You seem to be looking for something a little too specific...
    </div>
    <div class="err">
        ERRR_NOTHING_HERE
    </div>
    <button class="safety" {{action "clearFilters"}}>
        back to safety
    </button>
</div>
